@model IEnumerable<ConlagoS__Liga_Pro_de_Ecuador.Models.Equipo>

@{
    ViewData["Title"] = "List";
}

<h1>Tabla de posiciones</h1>

<p>
    <a asp-action="CrearEquipo" class="btn btn-success">+ Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosJugados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosGanados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosEmpatados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosPerdidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPuntos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @{
                        string logoFile = item.Nombre switch
                        {
                            "LDU" => "equipo1.png",
                            "BSC" => "equipo2.png",
                            "Emelec" => "equipo3.png",
                            "Mushuc Runa" => "equipo4.png",
                            "IDV" => "equipo5.png",
                            _ => "default.png"
                        };
                    }
                    <img src="~/images/equipos/@logoFile" alt="@item.Nombre"
                         style="width: 30px; height: auto; margin-right: 8px;" />
                    @item.Nombre
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartidosJugados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartidosGanados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartidosEmpatados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartidosPerdidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPuntos)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarEquipo", new { id = item.IdEquipo }, new { @class = "btn btn-success" })
                </td>
                <td>
                    <a asp-action="DetalleEquipo" asp-route-id="@item.IdEquipo" class="btn btn-info">Información</a>
                </td>
            </tr>
        }
    </tbody>
</table>
